<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex>
        <app-mode-filter></app-mode-filter>
    </div>
    <div fxFlex="20">
        <app-status-filter></app-status-filter>
    </div>
    <div fxFlex="20">
        <app-departure-date-filter></app-departure-date-filter>
    </div>
    <div fxFlex="20">
        <app-arrival-date-filter></app-arrival-date-filter>
    </div>
    <div fxFlex>
        <app-port-filter></app-port-filter>
    </div>
    <div fxFlex>
        <app-sortby-filter></app-sortby-filter>
    </div>
</div>