<mat-card class="mb-16">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="16px">
        <!-- Job Detail -->
        <div fxFlex="45" fxFlex.lt-md="100" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center"
            fxLayoutGap="8px">
            <div fxFlex="10">
                <img class="job-img" [src]="item?.Mode?.icon" alt="home">
            </div>
            <div fxFlex>
                <p class="mat-title"><span class="underline mr-12 text-uppercase">{{item?.id}}</span>
                    {{item?.name}}
                </p>
                <div class="mt-12 job-detail" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
                    <div fxFlex="20">
                        <p class="mat-subheading-1"><strong>Cust Ref.</strong></p>
                        <p class="text-uppercase" *ngFor="let cr of item?.customerRef">{{cr}}</p>
                    </div>
                    <div fxFlex="30">
                        <p class="mat-subheading-1"><strong>Containers</strong></p>
                        <p class="text-uppercase" *ngFor="let cr of item?.containers">{{cr}}</p>
                    </div>
                    <div fxFlex>
                        <p class="mat-subheading-1"><strong>Supplier</strong></p>
                        <p class="text-uppercase">{{item.supplier}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Status -->
        <div class="shipping-status separator" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start"
            fxLayoutGap="10px">
            <div fxLayout="column" fxFlex="grow" fxLayoutAlign="space-between center">
                <div>
                    <img class="job-img" [src]="item?.originIcon" alt="home">
                </div>
                <div class="text-bold">
                    <p>{{item?.originPort}}</p>
                    <p>{{item?.orderDateLocale}}</p>
                </div>
            </div>
            <div class="line"></div>

            <ng-container *ngFor="let route of item?.Routes">

                <div fxFlex="grow" fxLayout="column" fxLayoutAlign="space-between center">
                    <div>
                        <img class="job-img" [src]="route.icon" alt=" home">
                    </div>
                    <div class="text-bold">
                        <p>{{route.transitPort}}</p>
                        <p>{{route.arrivalDateLocale}}</p>
                    </div>
                </div>
                <div class="line"></div>
            </ng-container>

            <div fxFlex="grow" fxLayout="column" fxLayoutAlign="space-between center">
                <img class="job-img" [src]="item?.completedIcon" alt="home">
            </div>
        </div>
    </div>
</mat-card>