<mat-card class="mb-16">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutGap="16px">
        <!-- Job Detail -->
        <div fxFlex="60" fxFlex.lt-md="100" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center"
            fxLayoutGap="8px">
            <div fxFlex="10">
                <img class="job-img" src="/assets/icons/jobs/u134.png" alt="home">
            </div>
            <div fxFlex>
                <p class="mat-title"><span class="underline mr-12 text-uppercase">{{item?.id}}</span>
                    {{item?.name}}
                </p>
                <div class="mt-12 job-detail" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
                    <div fxFlex="20">
                        <p class="mat-subheading-1"><strong>Cust Ref.</strong></p>
                        <p class="text-uppercase" *ngFor="let cr of item?.customerRef">{{cr}}</p>
                    </div>
                    <div fxFlex="30">
                        <p class="mat-subheading-1"><strong>Containers</strong></p>
                        <p class="text-uppercase" *ngFor="let cr of item?.containers">{{cr}}</p>
                    </div>
                    <div fxFlex>
                        <p class="mat-subheading-1"><strong>Supplier</strong></p>
                        <p class="text-uppercase">{{item.supplier}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Status -->
        <div class="shipping-status separator" fxFlex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start"
            fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <div>
                    <img class="job-img" src="/assets/icons/jobs/u133.png" alt="home">
                </div>
                <div class="text-bold">
                    <p>Registered</p>
                    <p>01-08-2021</p>
                </div>
            </div>
            <div class="line"></div>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <img class="job-img" src="/assets/icons/jobs/u134.png" alt="home">
                <div class="text-bold">
                    <p>Semarang</p>
                    <p>01-08-2021</p>
                </div>
            </div>
            <div class="line"></div>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <img class="job-img" src="/assets/icons/jobs/u135.png" alt="home">
                <div class="text-bold">
                    <p>Melbourne</p>
                    <p>01-08-2021</p>
                </div>
            </div>
            <div class="line"></div>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <img class="job-img" src="/assets/icons/jobs/u145.png" alt="home">
            </div>
        </div>
    </div>
</mat-card>