<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <!-- Job Detail -->
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <div fxFlex="10">
                <mat-icon>home</mat-icon>
            </div>
            <div fxFlex>
                <p class="mat-title"><span class="underline mr-12">TGL-2002450</span> SamaRang to Melbourne</p>
                <div class="mt-12 job-detail" fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlex="20">
                        <p class="mat-subheading-1"><strong>Cust Ref.</strong></p>
                        <p>86840</p>
                        <p>25350</p>
                        <p>...</p>
                    </div>
                    <div fxFlex="30">
                        <p class="mat-subheading-1"><strong>Containers</strong></p>
                        <p class="text-uppercase">PCIU9344080</p>
                        <p class="text-uppercase">CSLU1877403</p>
                        <p>...</p>
                    </div>
                    <div fxFlex>

                        <p class="mat-subheading-1"><strong>Supplier</strong></p>
                        <p class="text-uppercase">MEILLER AUFZUGTUREN GMBH</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Status -->
        <div fxFlex>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam porro inventore quaerat animi amet
            blanditiis sit dolor modi delectus reprehenderit est, atque quae, consectetur praesentium aut eos incidunt
            distinctio impedit.
        </div>

    </div>

</mat-card>