<div id="contacts" class="page-layout carded fullwidth">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    My Jobs
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="space-around center" fxFlex>

            <div class="mt-16 mt-sm-0">
                <app-company-list></app-company-list>
            </div>
            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Search for a job">
                </div>

            </div>

        </div>
        <!-- / SEARCH -->

    </div>
    <div class="border"></div>
    <div class="accent p-16 p-sm-24">
        <app-filters></app-filters>
    </div>
    <!-- / HEADER -->


    <!-- CONTENT -->
    <div class="content">
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae repudiandae provident ex ut illo incidunt
                unde quisquam aliquid repellendus. Non dolores expedita voluptatibus ad eius nostrum earum, asperiores
                fuga doloribus!
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->
    </div>
</div>