<!--The content below is only a placeholder and can be replaced.-->
<div class="page-layout blank p-24" fusePerfectScrollbar>

    <h1>
        Welcome to the TGL!
    </h1>
    <div class="instructions">
        <p>Think Global Logistics is an Australian owned and operated international freight forwarding company. We
            specialise in offering business to business logistics services to all industries. Our dedicated and
            passionate team are always on hand to assist with any logistics requirements. </p>
    </div>

</div>